# CORE VIDEO ENGINE
python-chess
Pillow
cairosvg
numpy

# AI (Gemini)
google-genai
pydantic

# DATABASE
psycopg2-binary

# TTS
gradio_client

# ENV / CONFIG
python-dotenv

# TESTING
pytest
pytest-cov
ruff

#supabase
supabase